.pageContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  padding: 0 32px;
}

.pageWrapper {
  margin: 120px 0 0;
}

.pageHeader {
  margin-bottom: 96px;
}

.breadcrumbsContainer {
  margin-bottom: 8px;

  .breadcrumbsList {
    display: flex;
  }

  .breadcrumbsLink {
    font-family: "IBM Plex Mono";
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 14px;
  }

  .breadcrumbsLinkRoot {
    opacity: 0.6;
  }

  .breadcrumbsDividerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;

    .breadcrumbsDivider {
      display: flex;
      align-items: center;
      justify-self: center;
      font-weight: 500;
    }
  }
}

.pageHeading {
  margin-bottom: 64px;

  .pageTitle {
    font-family: "Quincy CF";
    font-size: 48px;
    font-weight: 400;
  }

  .pageDescription {
    max-width: 75ch;
    font-size: 17px;
    line-height: 1.7;
  }
}

.postGridContainer {
  display: flex;
  flex-direction: column;
  // padding-top: 24px;
}

.postItem {
  padding: 16px 4px;
  border-bottom: 1px solid #ceccca;
  color: #352914;
}

.postItemTitle {
  font-size: 18px;
  font-weight: 500;
}

.linkGroup {
  margin-bottom: 56px;
}

.linkGroupHeader {
  font-family: "IBM Plex Mono";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 16px;
  color: #8f8e8b;
}

.linkGroupList {
}

.linkGroupItem {
  margin-bottom: 14px;
  color: #8f8e8b;

  &:first-child {
    font-weight: 500;
    color: black;
  }
}

.contentContainer {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 64px;
}

.aside {
  padding-top: 20px;
}
