// Genera Grotesk
@font-face {
  font-family: "Genera Grotesk";
  src: url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-Regular.woff"),
    url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Genera Grotesk";
  src: url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-RegularItalic.woff"),
    url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-RegularItalic.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Genera Grotesk";
  src: url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-Medium.woff"),
    url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Genera Grotesk";
  src: url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-MediumItalic.woff"),
    url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Genera Grotesk";
  src: url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-Bold.woff"),
    url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-Bold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Genera Grotesk";
  src: url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-BoldItalic.woff"),
    url("../../public/fonts/GeneraGrotesk/GeneraGrotesk-BoldItalic.woff2");
  font-weight: 600;
  font-style: italic;
}

// Quincy CF Font
@font-face {
  font-family: "Quincy CF";
  src: url("../../public/fonts/QuincyCF/QuincyCF-Regular.woff"),
    url("../../public/fonts/QuincyCF/QuincyCF-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quincy CF";
  src: url("../../public/fonts/QuincyCF/QuincyCF-RegularItalic.woff"),
    url("../../public/fonts/QuincyCF/QuincyCF-RegularItalic.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Quincy CF";
  src: url("../../public/fonts/QuincyCF/QuincyCF-Medium.woff"),
    url("../../public/fonts/QuincyCF/QuincyCF-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quincy CF";
  src: url("../../public/fonts/QuincyCF/QuincyCF-MediumItalic.woff"),
    url("../../public/fonts/QuincyCF/QuincyCF-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Quincy CF";
  src: url("../../public/fonts/QuincyCF/QuincyCF-Bold.woff"),
    url("../../public/fonts/QuincyCF/QuincyCF-Bold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quincy CF";
  src: url("../../public/fonts/QuincyCF/QuincyCF-BoldItalic.woff"),
    url("../../public/fonts/QuincyCF/QuincyCF-BoldItalic.woff2");
  font-weight: 600;
  font-style: italic;
}

// IBM Plex Mono
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../public/fonts/IBMPlexMono/IBMPlexMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../public/fonts/IBMPlexMono/IBMPlexMono-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
