@import "styles/base/typography";

.navContainer {
}

.navInnerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.leftNav,
.rightNav,
.logoContainer {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.link {
  @extend %text-base;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}
