@import "styles/base/typography";

.navInnerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftNav,
.rightNav,
.logoContainer {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.link {
  @extend %text-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@media only screen and (max-width: 640px) {
  .logoMobile {
    display: inherit;
  }

  .logoDesktop {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  .logoMobile {
    display: none;
  }

  .logoDesktop {
    display: inherit;
  }
}
