.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3rem;
  row-gap: 6rem;
  padding: 0 2rem;
}

.contentContainer {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.wrapper {
  margin: 120px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 6rem;
}

.meta {
  // grid-column: 1 / 4;
  // margin-top: 5rem;

  // display: grid;
  // grid-template-columns: 2fr 1fr;
  // column-gap: 3rem;
  flex: 0 0 100%;
}

.metaInformation {
  display: flex;
  column-gap: 32px;
}

.metaItem {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.back {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
}

.title {
  margin-bottom: 1rem;
  font-size: 40px;
}

.description {
  width: 56ch;
  margin-bottom: 3rem;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.content {
  max-width: 535px;
  margin: 0px 24px;
  flex-shrink: 1.5;
}

.stepList {
  margin-bottom: 5rem;
}

.stepItem {
  counter-increment: step-counter;
  display: flex;
  margin-bottom: 2rem;

  &::before {
    content: counter(step-counter);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 100%;
    border: 1px solid #d0cecb;
    color: #544839;
  }
}

.step {
  width: 65ch;
  align-self: center;
}

.ingredients {
  max-width: 275px;
  padding: 0 24px;
}

.ingredientsList {
}

.ingredientsItem {
  counter-increment: ingredient-counter;
  display: flex;
  margin-bottom: 1rem;

  &::before {
    content: counter(ingredient-counter);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 100%;
    border: 1px solid #d0cecb;
    color: #544839;
  }
}

.ingredient {
  align-self: center;
}

.notes {
  margin-bottom: 5rem;
}

.note {
  width: 100%;
  padding: 24px;
  padding-left: 48px;
  position: relative;
  border: 1px solid black;

  .ingredientNote {
    font-weight: 700;
  }

  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    left: 16px;
  }
}

.controls {
  margin-bottom: 3rem;
}

.button {
  padding: 6px 20px;
  border: 1px solid black;
  border-radius: 6px;
  font-weight: 700;
}

.ingredientName {
  font-weight: 700;
}

.ingredientState {
  font-style: italic;
  display: block;
}
