.pageContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  padding: 0 32px;
}

.pageWrapper {
  margin: 120px 0;
}

.pageHeader {
  margin-bottom: 120px;
}

.breadcrumbsContainer {
  margin-bottom: 8px;

  .breadcrumbsList {
    display: flex;
  }

  .breadcrumbsLink {
    font-family: "IBM Plex Mono";
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 14px;
  }

  .breadcrumbsLinkRoot {
    opacity: 0.6;
  }

  .breadcrumbsDividerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;

    .breadcrumbsDivider {
      display: flex;
      align-items: center;
      justify-self: center;
      font-weight: 500;
    }
  }
}

.pageHeading {
  margin-bottom: 64px;

  .pageTitle {
    margin-bottom: 12px;
    font-family: "Quincy CF";
    color: #352914;
    font-size: 48px;
    font-weight: 400;
  }

  .pageDescription {
    max-width: 75ch;
    font-size: 17px;
    line-height: 1.8;
    color: #352914;
  }
}

.pageMeta {
  .metaList {
    display: flex;
    column-gap: 32px;
  }

  .metaListItem {
    h2 {
      margin-bottom: 4px;
      font-family: "IBM Plex Mono";
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 400;
      font-size: 14px;
      opacity: 0.6;
    }

    span {
      font-size: 14px;
      color: #352914;
    }
  }
}

.contentContainer {
  display: flex;
  margin-bottom: 56px;
}

.asideContent {
  flex: 0 0 24%;

  .asideTitle {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}

.ingredientGroup {
  margin-bottom: 40px;

  .ingredientGroupHeading {
    font-weight: 500;
    margin-bottom: 8px;
  }
}

.ingredientList {
  .ingredientListItem {
    margin-bottom: 12px;
  }
}

.ingredient {
  letter-spacing: 0.5px;
  font-size: 14px;
  white-space: nowrap;
  color: #352914;

  .ingredientQuantity {
    margin-right: 4px;
    font-feature-settings: frac;

    &:empty {
      margin-right: 0;
    }
  }

  .ingredientModifier {
    font-style: italic;
    font-weight: 400;
    // opacity: 0.6;
    color: #8f8e8b;
  }
}

.mainContent {
  flex: 0 0 56%;
  margin: 0 auto 0 4.5em;

  .mainTitle {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}

.preparationContainter {
  margin-bottom: 80px;
}

.preparationList {
  .preparationListItem {
    display: flex;
    margin-bottom: 32px;
    counter-increment: preparation-counter;

    &::before {
      content: counter(preparation-counter);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      width: 40px;
      min-width: 40px;
      height: 40px;
      min-height: 40px;
      border-radius: 100%;
      border: 1px solid #ceccca;
      color: #352914;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .preparationHeading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .preparationText {
    font-size: 16px;
    line-height: 1.7;
    // color: #949391;
    color: #352914;
  }
}

.noteContainer {
  .noteTitle {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}

.noteList {
  .noteListItem {
    position: relative;
    max-width: 56ch;
    padding: 24px;
    padding-left: 48px;
    margin-bottom: 48px;
    background: #fbdd9e;
    // background: #fdf7f1;
    border-radius: 6px;
    clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
  }

  .noteIcon {
    position: absolute;
    top: 27px;
    left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      color: #a36c0e;
      // color: #382a18;
    }
  }

  .noteText {
    font-size: 16px;
    line-height: 1.7;
    color: #a36c0e;
    // color: #382a18;

    .noteIngredient {
      font-weight: 500;
    }
  }
}

.moreRecipes {
  .moreRecipesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 32px;
    }
  }

  .moreRecipesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 56px;
  }

  .moreRecipesGridItem {
    .postMeta {
      display: inline-block;
      font-family: "IBM Plex Mono";
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 400;
      font-size: 14px;
      opacity: 0.6;
      margin-bottom: 12px;
    }

    .postTitle {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 8px;
    }

    .postDescription {
      font-size: 16px;
      line-height: 1.7;
      color: #352914;
    }
  }
}
